{
  "env": {
    "production": {
      "plugins": [
        ["react-css-modules", {
          "generateScopedName": "[md5:hash:base64]",
          "filetypes": {
            ".sss": {
              "syntax": "sugarss",
              "plugins": [
                "postcss-import-sync2",
                "postcss-each",
                "postcss-for",
                "postcss-mixins",
                "postcss-simple-vars",
                "postcss-conditionals",
                "postcss-nested-selectors",
                "postcss-nested"
              ]
            }
          }
        }],
        "lodash",
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
          }
        }]
      ],
      "presets": [
        ["airbnb", { "modules": false }]
      ]
    },
    "development": {
      "plugins": [
        ["react-css-modules", {
          "generateScopedName": "[folder]___[local]___[md5:hash:base32]",
          "webpackHotModuleReloading": true,
          "filetypes": {
            ".sss": {
              "syntax": "sugarss",
              "plugins": [
                "postcss-import-sync2",
                "postcss-each",
                "postcss-for",
                "postcss-mixins",
                "postcss-simple-vars",
                "postcss-conditionals",
                "postcss-nested-selectors",
                "postcss-nested"
              ]
            }
          }
        }],
        "react-hot-loader/babel",
        "lodash",
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
          }
        }]
      ],
      "presets": [
        ["airbnb", { "modules": false }]
      ]
    },
    "test": {
      "plugins": [
        ["react-css-modules", {
          "generateScopedName": "[local]",
          "filetypes": {
            ".sss": {
              "syntax": "sugarss",
              "plugins": [
                "postcss-import-sync2",
                "postcss-each",
                "postcss-for",
                "postcss-mixins",
                "postcss-simple-vars",
                "postcss-conditionals",
                "postcss-nested-selectors",
                "postcss-nested"
              ]
            }
          }
        }],
        "lodash",
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
          }
        }]
      ],
      "presets": [
        ["airbnb"]
      ]
    }
  }
}
