{
  "env": {
    "production": {
      "plugins": [
        "lodash",
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
          }
        }]
      ],
      "presets": [
        ["airbnb", { "modules": false }]
      ]
    },
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "lodash",
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
          }
        }]
      ],
      "presets": [
        ["airbnb", { "modules": false }]
      ]
    },
    "test": {
      "plugins": [
        "lodash",
        ["module-resolver", {
          "root": ["./src"],
          "alias": {
          }
        }]
      ],
      "presets": [
        ["airbnb"]
      ]
    }
  }
}